
.contactSection { 
    min-height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0.5rem;
    label { 
        font-size: 18px;
        
    }
    .contactDiv { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      
      .formDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
      }
      .email { 
        height: 25px;
        border: 3px solid #F9F9F9;
        border-radius: 5px;
        width: 100%;
        height: 50px;
      
      }
      
      .name { 
        height: 50px;
        width: 100%;
      }
      textarea {
        height: 200px;
        width: 100%;
        font-family: var(--MainFont);
      }
      input[type = email]:focus { 
        outline: 2px solid var(--MainColor);
      }
      .text{ 
        margin-top: 25px;
        width: 100%;
        height: 69px;
        background-color: #222222;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
        transition:  background-color ease 0.5s;
        border-radius: 5px;
        outline: 0;
        border: 1px solid #fff;
      
      }
      .blueText { 
        margin-top: 25px;
        height: 69px;
        background-color: rgb(87, 165, 200);
        color: #fff;
        font-size: 18px;
        transition:  background-color ease 0.5s;
        border-radius: 5px;
        outline: 0;
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .redText { 
        margin-top: 25px;
        width: 100%;
        height: 69px;
        background-color: rgb(173, 11, 11);
        color: #fff;
        font-size: 18px;
        cursor: pointer;
        transition:  background-color ease 0.5s;
        border-radius: 5px;
        outline: 0;
        border: 1px solid transparent;
      
      }
      .text:hover { 
        background-color: #393939;
      
      }
      
      textarea{ 
        border: 3px solid #F9F9F9;
        border-radius: 5px;
        max-width: 100%;
      
      }
}

