.socialSection { 
        min-height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4rem 2rem;
        flex-direction: column;
        width: 100%;
        h2 { 
            font-weight: 300 ;
        }
      


    .app-Footer { 
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4rem 2rem 2rem;
        width: 60%;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }
    .app-Cards { 
        transition: all 0.5s ease;
        cursor: pointer;

    }

    .app-Cards:hover { 
        transform: scale(120%);
        transition: all 0.5s ease;
    }

}


@media (max-width:599px) {
    .socialSection { 
        display: none !important;
    }
   }